* {
  box-sizing: border-box;
  }

body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(images/fondo_elementos.png);
  color: aliceblue;
}

 header{
  text-align: center;
  background-color: rgb(0, 126, 126);
  color: white;
  padding: 2px;
 }

 div.header{
  margin: 30px; position: relative;
  background-image: url(images/aguaclara.png);
  background-repeat: no-repeat;
  background-position-y: -620px;
  height: 340px;
  padding: 5px;
}

div.texto{
  font-size: 30px;
}

nav{
  float: left;
  background-color: rgb(82, 168, 168);
  padding: 30px;
  color: azure;
  height: 1005px
}

nav ul {
  list-style-type: none;
  padding: 0;
  }

a:link {
  color: aliceblue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(189, 216, 216);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(24, 82, 82);
  background-color: transparent;
  text-decoration: none;
}

article{
  float: left;
  padding: 50px;
  height: 100%;
  width: 70%;
  padding-left: 130px;
}

section::after {
  content: "";
  display: table;
  clear: both;
  }

footer{
  background-color: rgb(66, 133, 133);
  padding: 10px;
  text-align: center;
  color: aliceblue;
}

div.texto img{
  height: 100px;
}

div.historia{
  text-align: center;
  width: auto;
}

div.lugares{
  text-align: center;
}

div.valle{
  margin: 2px;
  float: left;
  padding-left: 40px;
  padding-right: 10px;
}

div.colina{
  margin: 2px;
  float: left;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

div.meseta{
  margin: 2px;
  float: left;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 40px;
}

div.titulo{
text-align: center;
font-size: 25px;
}

div.personaje{
  text-align: center;
  margin: 10px;
  float: left;
  width: 180px;
  color: black;
  background-color: rgb(187, 187, 187);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

div.personaje img{
  height: auto;
  width: 100px;
}

span.número{
  font-size: 5px;
}

span.nombre{
  font-size: 30px;
}

span.sexo{
 font-size: 15px;
}

span.elemento img{
  height: auto;
  width:20px;
}

span.arma img{
  height: auto;
  width: 20px;
}

span.clasificación{
  font-size: 10px;
}

div.elemental{
  text-align: center;
  width: auto
}

div.linea{
  width: 1000px
}

div.poder{
  margin: 4px;
  float: left;
  text-align: center;
  width: 220px;
  height: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  color:aliceblue;
}

div.poder img{
  width: 30px;
}

span.tipo{
  font-size: 25px;
}